<!--Navbar Component -->
{{define "navbar-componet"}}
<!-- Navbar -->
<!-- Drawer (entire layout) -->
<nav class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />

  <!-- Page content -->
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <section class="navbar bg-base-100 shadow-sm">
      <div class="navbar-start">
        <label for="my-drawer" class="btn btn-ghost lg:hidden">
          <i class="ti ti-menu-2"></i>
        </label>
        <a href="/#" class="btn btn-ghost text-xl">TODO Tasker</a>
      </div>

      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/#about">About</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/login">Login/Sign up</a></li>
        </ul>
      </div>

      <div class="navbar-end">
        <label class="swap swap-rotate">
          <input type="checkbox" class="theme-controller" value="dark" />
          <i class="swap-on ti ti-sun-high"></i>
          <i class="swap-off ti ti-moon"></i>
        </label>
      </div>
    </section>

    <!-- Your template content -->
    <article class="p-4">{{template "selector" .}}</article>
  </div>

  <!-- Sidebar -->
  <div
    hx-post="/components/sidebar"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
</nav>
{{end}}

<!-- Selects Routes -->
{{define "selector"}}
<div x-data="selector">
  <div
    :hx-post="`/components/${route}`"
    hx-trigger="load"
    hx-swap="outerHTML"
    hx-indicator="#loading"
  >
    <span id="loading" class="loading loading-spinner loading-xl"></span>
  </div>
</div>
{{end}}

<!-- Footer Component -->
{{define "footer-componet"}}
<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
  <form>
    <h6 class="footer-title">Newsletter</h6>
    <fieldset class="w-80">
      <label>Enter your email address</label>
      <div class="join">
        <input
          type="text"
          placeholder="username@site.com"
          class="input join-item"
        />
        <button class="btn btn-primary join-item">Subscribe</button>
      </div>
    </fieldset>
  </form>
</footer>
{{end}}
